
<app-layout>
    <div header>
        Area 1 Header
    </div>

    <app-local-nav [items]="[ { title: 'Item 1' },{ title: 'Item 2'} ]"></app-local-nav>

    <div body>
        <p>area1-page works!</p>
    </div>    
</app-layout>

