
<app-layout>
    <div header>
        Area 2 Header
    </div>

    <app-local-nav [items]="[ { title: 'Item 3' },{ title: 'Item 4'} ]"></app-local-nav>

    <div body>
        <p>area2-page works!</p>
    </div>    

    <div footer>
        2021 Harmonic Drive LLC
    </div>
</app-layout>

