
<header>
    <ng-content select="[header]">    
    </ng-content>

    <ng-content select="app-local-nav"></ng-content>
</header>

<main>
    <ng-content select="[body]">    
    </ng-content>

    <app-form-container></app-form-container>
</main>

<footer>
    Footer
    <ng-content select="[footer]">    
    </ng-content>    
</footer>