
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;

    a {
        color: #fff;
    }
}

main {
    padding: 20px;
}
header {
    width: 100%;    
    padding: 20px;
    background-color: gray;
    color: #fff
}